<style>
.well{
    float: right;
    margin-right: -900px;
    padding: 10px;
    text-shadow: 1px 1px #FFFFFF;
    width: 308px;
    padding-left:30px;
}
.wrap {
    background: #aaa;
    margin: 0 auto;
    display: inline;
    overflow: hidden;
    padding-top:4px;
}

.sidebar {
     margin: 0 0 12px;
     padding-top: 6px; 
     margin-left: 150px;
     width: 450px;
     float: center;
     font-size :15px;
     font-family:ubuntu;
}


.container {
     width:700px;
     border: 1px solid #0088CC;
     border-radius:8px;
     color: #000;
     margin-left: -250px;
     padding-top: 6px; 
     padding-left:5px;
     padding-bottom:5px;
     margin-bottom: 10px;
     background: no-repeat scroll left top #c0c0c0; 
     background: #fff;
     -webkit-box-shadow: inset 1px 1px 12px 2px #fff;
     -moz-box-shadow: inset 1px 1px 12px 2px #fff;
      box-shadow: inset 1px 1px 12px 2px #fff;
   }

.box {
    background: #fff;
    border: 0px solid #0088CC;
    border-radius:5px;
    padding: 10px;
    margin: 5px;
    float: left;
}

</style>

<% @blogs.each do |blog| %>
    <div class="wrap">
    <div class="container">
        <div class="box">
     <b style = "font-size :20px"><%= link_to blog.title, blog %></b><br>
     <%= truncate(blog.body, :length => 1500).html_safe %>
      <%= link_to "continued", blog %><br>
</div></div>
<% end %>

<br />

<p></p><p></p>

